langchain
langchain_community
langchain_text_splitters
langgraph
python-dotenv
langchain-groq
langchain-openai
streamlit
fastapi
wikipedia
ddgs
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain_core
pydantic
langchain_google_genai